/* Ubah warna tombol Gallery */
.gallery-btn {
    background-color: #a328a7;
    color: rgb(204, 77, 187);
    border-radius: 5px;
    padding: 10px 20px;
}

.gallery-btn:hover {
    background-color: #ff0000; 
    color: white;
}

/* Ubah warna tombol Home */
.home-btn {
    background-color: #a328a7; 
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.home-btn:hover {
    background-color: #ff0000;
    color: white;
}
/* Ubah warna tombol Article */
.article-btn {
    background-color: #a328a7; 
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.article-btn:hover {
    background-color: #ff0000;
    color: white;
}
